<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>index.ejs</h1>
	<!-- ejs_controller 에서 보낸 데이터 출력 -->
	str : <%= str %> </br>
	number : <%= number %> </br>
	date : <%= date %> </br>
	<a href="test">test</a>
	
</body>
</html>